.card {
  background-color: gray;
  padding: 20px;
  margin: 5px;
}

.link {
  color: white;
  font-weight: bold;
  text-decoration: none;
} .link:hover {
  color: rgba(200,200,200,0.9);
  text-decoration: none;
  font-size: 36px;
}
